

<section class="container__loading" *ngIf="isLoading">
    <mat-spinner color="light"></mat-spinner>
</section>
 
<section class="container">
    <!-- forms -->
    <article class="form">
        <input type="text" #e placeholder="Name" value={{name}}>
        <input type="email" #em   placeholder="Email" value={{email}}>
        <div class="container__buttons">
            <button mat-raised-button color="primary" (click)="add(e.value,em.value)" *ngIf="!id">Add</button>
            <button  mat-flat-button  color="accent" (click)="update()" *ngIf="id">Update</button>
            <button mat-button color="primary" *ngIf="id" (click)="reset()">Reset</button>
            <button mat-button color="warn" *ngIf="id" (click)="deleteUser()">Delete</button>
        </div>

    </article>


    <!-- cards -->
    <article class="cards">
        <article *ngFor="let user of users; let index=index" class="card" (click)="getInfoFromCard(user,index)">
            <p>{{ user.id }}</p>
            <h4>{{ user.name }}</h4>
            <small>{{user.email}}</small>
             
        </article>
    </article>

</section>