
.container{
    display:flex;
    justify-content: space-between;
    padding:4px;
    margin-top:4%;
}
.cards{
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    

}
.navbar{
    width:inherit;
    height:70px;
    margin:0;
    padding-top: 20px;
    top:.1px;
    border-bottom-left-radius: 5px;
    position: sticky;
    border-bottom-right-radius: 5px;
   
    z-index:20;
    background-color: rgb(19, 19, 141);
}
.navbar h1{
    margin:0;
    color:white;
    text-align: center;
    font-family: "ubuntu";
}
 .search {
    width:inherit;
    text-align: center;
   
    

 }
 .search input{
    padding:8px;
    text-align: center;
    font-family: "ubuntu";
    font-weight: 600;
    border-radius:8px;
     width:300px;
     margin-top:10px;
     border:none;
 }
.animate{
    animation: animates .6s ease-in-out;
    transition:1s;
}
@keyframes animates {
    from{
        opacity:0;
      
    }
    to{
        opacity:1;
        
    }
}
.card{
    width: 250px;
    height: 100px;
    background-color: rgb(236, 226, 226);
    color: #222;
    border-radius: 8px;
    padding: 4px;
    margin:7px;
    font-family: ubuntu;
}



 
.card h4{
    text-align: center;

    margin-bottom:-1px;
}
.card:hover{
    cursor:pointer;
    transition:.4s;
   box-shadow: .3px .3px 3px rgb(133, 121, 121);
}
.card small{
    text-align: center;
    margin: 4px;
}


.container__buttons{
    display:flex;
    justify-content: center;
    justify-items: center;
    flex-wrap:wrap;
}
.container__buttons button{
    width: 170px !important;
    margin-top: 7px !important; 
}
.form{
    width:200px;
    height:100vh;
    padding:7px;
    background-color: rgba(238%, 236%, 236%, 10);
    position:sticky;
    top: .2px;
    border-right: 1px solid #eee;
}

 
.form input{
    padding:3px;
    border: none;
    border-radius: 7px;
    height: 30px;
    margin: 3px 0 3px 0;
    background-color: rgb(231, 229, 229);
}

.container__loading{
    /* margin-top:75px; */
    position:sticky;
    top:10;
    z-index:30;
    width: 100px;
    height: 100px;
    background-color:white;
    border-radius: 50%;
    background-color: rgba(161, 180, 165, 0.7);
    left: calc(100%/2)
}